.contentContainer {
  background: white;
  display: flex;
}

.summaryContainer {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin-bottom: 1rem;
  width: 500px;
  text-align: left;
  background: var(--primary-light);
  border-radius: 1rem;
  min-height: 400px;
  max-height: 500px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  box-shadow: var(--box-shadow-container);
}

.formContainer {
  width: 500px;
  background: var(--primary-light);
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: var(--box-shadow-container);
}
