.headerContainer {
  display: flex;
  margin: 20px 0 0 0;
  max-width: var(--form-max-width);
  position: relative;
  right: -15%;
  flex-direction: column;
  font-size: var(--button-font-size);
}

.belowContainer {
  padding: 1rem 2rem;
  max-width: var(--form-max-width);
  margin: 10px auto;
  background: white;
  text-align: left;
  border-radius: var(--border-radius-container);
  box-shadow: var(--box-shadow-container);
  font-size: var(--button-font-size);
}

@media (max-width: 576px) {
  .headerContainer {
    display: flex;
    margin: 20px 0 0 0;
    max-width: var(--form-max-width);
    position: relative;
    right: -2%;
    flex-direction: column;
    font-size: var(--button-font-size);
  }

  .belowContainer {
    padding: 1rem 2rem;
    width: 100%;
    min-width: 100vw;
    margin: 10px auto;
    background: white;
    text-align: left;
    border-radius: var(--border-radius-container);
    box-shadow: var(--box-shadow-container);
    font-size: var(--button-font-size);
  }
}
