.mainContainer {
  padding: 0 0 1rem 0;
}

.messageContainer {
  background-color: white;
  border-radius: var(--border-radius-container);
  box-shadow: var(--box-shadow-container);
  text-align: left;
  padding: 0.2rem 1rem;
  margin: 0 0 1.2rem 0;
}

.welcomeText {
  text-align: start;
  line-height: 2rem;
}

.reportContainer {
  margin: 1rem 0 1rem 0;
  display: flex;
  justify-content: space-around;
}

@media (max-width: 576px) {
  .mainContainer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin: 0 0 0 0;
  }

  .welcomeText {
    text-align: start;
    line-height: 1.4rem;
    font-size: 0.95rem;
  }

  .messageContainer {
    margin: 0 0 0 0;
    align-self: center;
  }

  .reportContainer {
    flex-direction: column;
  }
}
